body {
  margin: 0px;
  background: black;
  font-family: sans-serif;
}
#calculator {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: minmax(50px, auto) repeat(6, 100px);
}
button {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  outline: none;
  background-color: rgb(103, 100, 100);
  opacity: 80%;
  border-radius: 50%;
}
button:hover {
  opacity: 100%;
}
#equal {
  grid-row: span 2;
  border-radius: 20%;
}
.calculator-display {
  grid-column: 1/-1;
  background-color: black;
  color: white;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;
}
.calculator-display .previous-operand {
  font-size: 1.5rem;
}
.calculator-display .current-operand {
  font-size: 2.5rem;
  padding-top: 5px;
}
.orange{
background-color: rgb(255, 115, 0);
}
.gray{
  background-color: rgb(209, 201, 201);
}
.black{
  background-color: rgb(51, 51, 52);
}